.content{
    text-align: center;
    margin-top: 2%;
}
.newTitle{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    
    .textTitle{
        text-align: center;
        margin: 20px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
}

.listUI{
    width: 35%;
    height: 100%;
    
    margin: 20px auto;
    border: 5px solid yellowgreen;
    border-radius: 50px 0 50px 0;
    position: relative;
    .title{ 
        width: 80%;
        overflow-x: auto;
        margin: 20px auto;
        .edit_title span{
           
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
    }
    .arrows{
        display: flex;
        justify-content: center;
        cursor: pointer;
        .down, .up{
            margin: 10px;
        }
    }
    // rgba(75, 70, 70, 0.445)
    .date{
        padding-top: 5px;
        margin: 10px auto;
        border-top: 5px solid rgb(167, 167, 124);
        border-left: 5px solid rgb(167, 167, 124);
        border-right: 5px solid rgb(167, 167, 124);
        border-radius: 50px;
        width: 50%;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .del_title{
        float: right;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        img{
            height:40px;
            width: 40px;
            padding: 2px;
        }
    }
}
