.content{
    text-align: center;
    margin-top: 2%;
}
.newTitle{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    .textTitle{
        text-align: center;
        margin: 20px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
}

.listUI{
    width: 30%;
    height: 100%;
    background: chartreuse;
    margin: 20px auto;
    .title{
        .edit_title span{
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
        .del_title{
            float: right;
        }
        .tasks{
            
        }
    }
    .arrows{
        display: flex;
        justify-content: center;
        cursor: pointer;
        .down, .up{
            margin: 10px;
        }
    }
    .date{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
}
.tasks{
    margin: 0 auto;
    width: 80%;
    min-height: 25px;
    max-height: auto;
    background: coral;
}
.delTitle{
    float: right;
    cursor: pointer;
}